@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'MisterPixel';
  src: url('/fonts/MisterPixel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.workbench-font {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

@media print {
  .printable-page[size="letter"] {
    size: letter;
  }
  .printable-page[size="a4"] {
    size: a4;
  }
  .printable-page[size="business"] {
    size: 8.89cm 5.08cm;
  }
  :root {
    background-color: white;
  }
}
